mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="img/sprites/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="img/sprites/sprite.svg#" + name)


//- Lazy Load Placeholder Generator https://webdesign-master.ru/services/lazy/

mixin jpg(boolean,img,width,height,alt,placeholder,additionalClassName, classNameSwiperLazy)
	if boolean
		picture
			source(srcset=placeholder ,data-srcset=`${img}.webp`, type='image/webp')
			img.lazy.img--poly.placeholder( class=additionalClassName alt=alt, src=placeholder, data-src=`${img}.jpg`,width=width, height=height)
	if classNameSwiperLazy
		picture
			source(srcset=placeholder ,data-srcset=`${img}.webp`, type='image/webp')
			img.lazy.img--poly.placeholder( class=additionalClassName, data-slider-class=true, alt=alt, src=placeholder ,data-src=`${img}.jpg`,width=width, height=height)

mixin png(boolean,img,width,height,alt,placeholder,additionalClassName, classNameSwiperLazy)
	if boolean
		picture
			source(srcset=placeholder ,data-srcset=`${img}.webp`, type='image/webp')
			img.lazy.img--poly( class=additionalClassName alt=alt, src=placeholder, data-src=`${img}.png`,width=width, height=height)
	if classNameSwiperLazy
		picture
			source(srcset=placeholder ,data-srcset=`${img}.webp`, type='image/webp')
			img.img--poly( class=additionalClassName, data-slider-class=true, alt=alt, src=placeholder, data-src=`${img}.png`,width=width, height=height)